.home {
    background: linear-gradient(to right, #2c67f2, #62cff4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.home-text {
    position: relative;
    top: 30%;
    margin-left: 40px;
    color: white;
    font-size: 3rem;

}

.head {
    font-weight: 700;
    color: yellow;
}

.head-1 {
    font-size: 3rem;
    font-weight: 700;
}

.Explore-Button {
    width: fit-content;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    gap: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(120deg, rgb(65, 43, 95), rgb(96, 51, 154));
    margin-top: 50px;
}

.IconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.telescope {
    width: 100%;
    height: auto;
    transform-origin: center;
    transition: all 1s;
    transform: rotate(20deg);
}

.tripod {
    width: 60%;
    height: auto;
}

.text {
    color: rgb(240, 240, 240);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

.Explore-Button:hover .telescope {
    transform: rotate(-35deg);
}

.Explore-Button:hover {
    background: linear-gradient(120deg, rgb(96, 51, 154), rgb(65, 43, 95));
}

.service {
    padding-block: 3rem 5rem;
}

.serv-head {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.card_container {
    color: var(--clr-primary-black);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_container .card {
    border-radius: 20px;
    background: var(--clr-primary-white);
    box-shadow: 8px 0 30px 40px rgba(4, 4, 4, 0.10);
    max-width: 90%;
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 3.25rem 3rem 3.25rem;
    width: 52%;
    margin-bottom: 1.25rem;
}

.card_container .card h3 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.card_container .card h4 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.use-head {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.use-container {
    color: var(--clr-primary-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.use-container .use-card {
    border-radius: 20px;
    background-color: white;
    max-width: 90%;
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 3rem 3rem 3rem;
    width: 44%;
    margin-bottom: 7rem;
}

.use-container .use-card h4 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.uses {
    padding-block: 3rem 5rem;
    line-height: 1.6;
    background: linear-gradient(to right, #62cff4, #2c67f2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
}

.use-card:hover {
    box-shadow: 8px 0 30px 40px rgba(4, 4, 4, 0.10);
    transform: translateY(-8px) scale(1.01);
    transition: transform 1s;
}

.subscription h3 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.sub-head {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 30px;
}


.card_box {
    width: 400px;
    height: 450px;
    border-radius: 20px;
    /* background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%); */
    background-color: white;
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    transition: all .3s;
}

.card_box:hover {
    transform: scale(0.9);
}

.card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_box span::before {
    content: 'Premium';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}

.sub-container {
    color: var(--clr-primary-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.sub-container .container {
    border-radius: 20px;
    margin-inline: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 3rem 3rem 3rem 3rem; */
    /* width: 44%; */
    margin-bottom: 3rem;
}

.plan-head {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}